@charset "utf-8";
@charset "utf-8";
*
{    
    margin:0px;
	padding:opx;
	
}

/*icon*/
#icon
{ font-size:32px;
}

/*navbar*/

#navbar
{ background-color:black;
  border:5px solid blue;
  border-radius:5px;
}

#navbar img
{ margin-left:40px;
}


/*Href*/

#nav a
{ font-family: Tahoma, Geneva, sans-serif;
  color:white;
  background-color:black;
  font-size:10px;
  font-size:15px;
}

#nav a:hover
{ background-color:white;
  color:black;
}

/*Dropdown*/

#href1
{ background-color:rgba(0,0,0,1);
  
}

#href1 a
{ color:white;
  font-family: Tahoma, Geneva, sans-serif;
}

#href1 a:hover
{ cursor:pointer;
}

#href2
{ background-color:rgba(0,0,0,1);
  
}

#href2 a
{ color:white;
  font-family: Tahoma, Geneva, sans-serif;
}

#href2 a:hover
{ cursor:pointer;
}

#href3
{ background-color:rgba(0,0,0,1);
  
}

#href3 a
{ color:white;
  font-family: Tahoma, Geneva, sans-serif;
}

#href3 a:hover
{ cursor:pointer;
}


#head
{
	margin:0px;
	box-sizing:border-box;
	padding:0px;
	height:60vh; 
	float:left;	
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
}

#par 
{
	background-color:#FFF;
}
#un,#lo
{
	background-color:#FFF;
}
#b
{
	width:30%;
	background-color:red;
	border:none;	
	margin:;
	height:30%;
	font-size:26px;
	border-radius:10px;
	font-family: 'Bree Serif', serif;
}
#b:hover
{
	background-color:#000;
	color:#CCC;
	transition:ease 1s;
}

#btn2
{ width:140px; height:58px;
  background-color:white;
  color:black;
  font-family:Verdana, Geneva, sans-serif;
  border-radius:10px;
  border:2px solid black;
  margin-left:70px;
  margin-top:5px;
  font-size:22px;
}

#btn2:hover
{ background-color:#910000;
  color:white;
  transition:ease 0.6s;
  cursor:pointer;
  border:2px solid white;
}

#footer
{
    margin-top:390px;
	width:100%;
	position:absolute;
	top:90%;
	 background: black !important;
}
/*footer*/
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 60px 0;
	 background: black !important;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
	 background: black !important;
}
#footer {
    background: black !important;
	border:5px solid blue;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
	 background: black !important;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
	 background: black !important;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
	 background: black !important;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
	 background: black !important;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
	 background: black !important;
}
#footer ul.social li a:hover{
	color:#eeeeee;
	 background: black !important;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
	 background: black !important;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
	 background: black !important;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
	 background: black !important;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
	 background: black !important;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
	 background: black !important;
}
@media (max-width:411px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
	 background: black !important;
}
/*navbar*//* CSS Document */

